main {
    background-color:brown;
    width:100vw;
    height: 100vh;
}

h1 {
    font-size: 1.5em;
}

img.background {
    width:100%;
}

article {
    width:30vw;
    height:calc(3 / 4 * 30vw);
    position:relative;
    transition: 0.2s all;
    transform: scale(0.9);
    overflow:hidden;
    background-color: #222;
    border-radius: 5px;
}

article > img{
    transition: 0.2s all;
}

img.character {
    position:absolute;
    right:0;
    height:100%;
    transition: 0.2s all;
    filter:grayscale(1);
}

article:hover{
    transform: scale(1);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.7);
}

article:hover img.character{
    right:10%;
    filter:grayscale(0);
}

article:hover img.background {
    filter:grayscale(1) blur(2px);
}